@model IEnumerable<MyFabricTrackerWebApp.Models.MainCategory>

@{
    ViewData["Title"] = "Categories List";
}

<h4>Categories List</h4>

<p>
    <a asp-action="Create" asp-controller="MainCategories">Create New MainCategory</a><br />
    <a asp-action="Create">Create New SubCategory</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Main Category
            </th>
            <th>
                Sub Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.SubCategories.Count > 0)
            {
                @foreach (var subcat in item.SubCategories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MainCategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => subcat.SubCategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@subcat.SubCategoryId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@subcat.SubCategoryId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@subcat.SubCategoryId">Delete</a>
                        </td>
                    </tr>
                  }
                } else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainCategoryName)

                    </td>
                    <td>
                        No SubCategories yet!
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="MainCategories" asp-route-id="@item.MainCategoryId">Edit</a> |
                        <a asp-action="Details" asp-controller="MainCategories" asp-route-id="@item.MainCategoryId">Details</a> |
                        <a asp-action="Delete" asp-controller="MainCategories" asp-route-id="@item.MainCategoryId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
