@model IEnumerable<MyFabricTrackerWebApp.Models.SubCategory>

@{
    ViewData["Title"] = "SubCategories List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Main Category
            </th>
            <th>
                Sub Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MainCategory.MainCategoryName)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubCategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubCategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
