@model MyFabricTrackerWebApp.Models.Fabric

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fabric</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricItemCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricItemCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainCategory.MainCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.SubCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceId)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FabricID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
