@model IEnumerable<MyFabricTrackerWebApp.Models.Fabric>

@{
    ViewData["Title"] = "Index";
}

<h3>Fabrics List</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
                
            </th>
            <th>
                Item Code   
            </th>
            <th>
                Name
            </th>
            <th>
                MainCategory
            </th>
            <th>
                SubCategory
            </th>
            <th>
                Type
            </th>
            <th>
                Notes
            </th>
            <th>
                Source
            </th>
            <th>
                Source Url
            </th>
            <th>
               Date Added
            </th>
            <th>
               Date Modified
            </th>
            <th>
                Is Deleted? 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img style="width: 50px;" src="~/images/@item.ImageFileName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricItemCode)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCategory.MainCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricSourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricSourceUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FabricID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FabricID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FabricID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
