@model IEnumerable<MyFabricTrackerWebApp.Models.Fabric>

@{
    ViewData["Title"] = "Index";
}

<h3>Fabrics List</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
@foreach (var item in Model)
{
    <div class="col-md-2">

        <div class="card" style="width: 10rem;">
            @await Html.PartialAsync("_DisplayImageThumbnail", item.ImageFileName)
            <ul class="list-group list-group-flush text-small">
                <li class="list-group-item">#@Html.DisplayFor(modelItem => item.FabricItemCode)</li>
                <li class="list-group-item">@Html.DisplayFor(modelItem => item.MainCategory.MainCategoryName) > @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)</li>
                <li class="list-group-item"><b>@Html.DisplayFor(modelItem => item.FabricName)</b></li>
                <li class="list-group-item">Total Yds: @string.Format("{0:n2}", item.TotalInches / 36.00)</li>
                <li class="list-group-item">Total Fat Qtrs: @Html.DisplayFor(modelItem => item.FatQtrQty)</li>

            </ul>
            <div class="card-body">
                <a asp-action="Edit" asp-route-id="@item.FabricID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FabricID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FabricID">Delete</a>
            </div>
        </div>
    </div>
}
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                Image
                
            </th>
            <th>
                Item Code   
            </th>
            <th>
                Name
            </th>
            <th>
                Main<br />Category
            </th>
            <th>
                Sub<br />Category
            </th>
            <th>
                Type
            </th>
            <th>
                Width
            </th>
            <th>
                Total<br />Yds
            </th>
            <th>
               Date<br />Added
            </th>
            <th>
               Date<br />Modified
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @await Html.PartialAsync("_DisplayImageThumbnail", item.ImageFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricItemCode)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCategory.MainCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FabricWidth)
            </td>
            <td>
                @string.Format("{0:n2}", item.TotalInches / 36.00)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FabricID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FabricID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FabricID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
