@model MyFabricTrackerWebApp.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabric)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabric.FabricID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InchesQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InchesQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatQtrQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatQtrQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
